swagger: '2.0'
info:
  description: Manage friend relationships
  title: Glimpse Service Friend
  version: 0.0.1-beta
host: friend.glimpse.online
basePath: /
consumes:
- application/json
produces:
- application/json
schemes:
- http
paths:

  "/healthz":
    get:
      description: Check the health of the service
      operationId: Healthz
      responses:
        200:
          description: Service is healthy
          schema:
            $ref: "#/definitions/SuccessResponse"

  "/friends":
    get:
      description: Get the list of friends
      operationId: GetFriendList
      responses:
        200:
          description: List of friends
          schema:
            $ref: "#/definitions/GetFriendsResponse"
        404:
          description: User not found

  "/requests":
    get:
      description: Get the list of request for this user
      operationId: FriendRequestGet
      responses:
        200:
          description: Return true if the request was accepted
          schema:
            $ref: "#/definitions/FriendRequestGetResponse"
        404:
          description: Friend request not found

  "/request":
    post:
      description: Send a friend request
      operationId: FriendRequestPost
      parameters:
      - in: body
        name: body
        description: User Id of the receiver
        required: true
        schema:
          $ref: "#/definitions/SendFriendRequestParameters"
      responses:
        200:
          description: Return true if the request was accepted
          schema:
            $ref: "#/definitions/SendFriendRequestResponse"
        404:
          description: Friend request not found

  "/request/accept":
    post:
      description: Accept a friend request
      operationId: FriendRequestAccept
      parameters:
      - in: body
        name: body
        description: Request Id
        required: true
        schema:
          $ref: "#/definitions/RequestAcceptRejectParameters"
      responses:
        200:
          description: Return the user information
          schema:
            $ref: "#/definitions/SuccessResponse"
        404:
          description: Friend request not found

  "/request/reject":
    post:
      description: Reject a friend request
      operationId: FriendRequestReject
      parameters:
      - in: body
        name: body
        description: Request Id
        required: true
        schema:
          $ref: "#/definitions/RequestAcceptRejectParameters"
      responses:
        200:
          description: Return true if the request was rejected
          schema:
            $ref: "#/definitions/SuccessResponse"
        404:
          description: Friend request not found

definitions:
  SuccessResponse:
    type: object
    properties:
      status:
        type: boolean

  GetFriendsResponse:
    type: object
    properties:
      results:
        description: Total number of friends
        type: number
      friends:
        description: Friends list
        type: array
        items:
          $ref: "#/definitions/FriendList"

  FriendList:
    type: object
    properties:
      user_id:
        type: string
      username:
        type: string
      email:
        type: string


  SendFriendRequestParameters:
    type: object
    properties:
      receiver_id:
        description: UserId of the receiver
        type: string

  RequestAcceptRejectParameters:
    type: object
    properties:
      request_id:
        description: RequestId of the request
        type: string

  SendFriendRequestResponse:
    type: object
    properties:
      request_id:
        description: RequestId of the request
        type: string

  FriendRequestGetResponse:
    type: object
    properties:
      results:
        description: Total number of friends
        type: number
      requests:
        description: Request list
        type: array
        items:
          $ref: "#/definitions/FriendRequestList"

  FriendRequestList:
    type: object
    properties:
      receiver_id:
        description: UserId of the receiver
        type: string

security:
  - firebase: []

securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query

  firebase:
    authorizationUrl: ""
    flow: implicit
    type: oauth2
    x-google-issuer: "https://securetoken.google.com/glimpse-123456"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "glimpse-123456"